.App {
  text-align: center;
  background-image: url("https://loremflickr.com/1920/1080/city");
  background-size: cover;
  background-position: center;
}

.textTemp {
  font-size: 9em;
}

.difusal {
  background-color: rgba(18, 91, 250, 0.25);  
  backdrop-filter: blur(10px);
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .textTemp {
    font-size: 7em;
  }
}
